$breakpoint-down: (
  "xm": "(max-width: 744px)",
  "sm": "(max-width: 590px)",
  "md": "(max-width: 1024px)",
) !default;
@mixin mq-up($breakpoint: "xm") {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
html {
  width: 100%;
  max-width: 100%;
  min-width: 350px;
  font-size: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.body {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
.header {
  width: 100%;
  height: 81px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
  border-bottom: solid 1px #e9eaea;
  @include mq-up(md) {
    height: 55px;
  }
}
.fixedHeader {
  display: flex;
  align-items: center;
  height: 81px;
  @include mq-up(md) {
    justify-content: space-between;
    height: 55px;
  }
}
.hamburger_wrapper {
  @include mq-up(md) {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    display: none;
    @include mq-up(md) {
      display: flex;
    }
  }
}
@keyframes sidemenu_slideIn {
  0% {
    opacity: 0;
    transform: translateX(-375px);
  }
  13% {
    opacity: 0.125;
    transform: translateX(-328.125px);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-281.25px);
  }
  38% {
    opacity: 0.375;
    transform: translateX(-234.375px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-187.5px);
  }
  63% {
    opacity: 0.625;
    transform: translateX(-140.625px);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-93.75px);
  }
  88% {
    opacity: 0.875;
    transform: translateX(-46.875px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes sidemenu_slideOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  13% {
    opacity: 0.875;
    transform: translateX(-46.875px);
  }
  25% {
    opacity: 0.625;
    transform: translateX(-93.75px);
  }
  38% {
    opacity: 0.75;
    transform: translateX(-140.625px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-187.5px);
  }
  63% {
    opacity: 0.375;
    transform: translateX(-234.375px);
  }
  75% {
    opacity: 0.25;
    transform: translateX(-281.25px);
  }
  88% {
    opacity: 0.125;
    transform: translateX(-328.125px);
  }
  100% {
    opacity: 0;
    transform: translateX(-375px);
  }
}
// .hide_checkbox{
//   display: none;
// }
#hamburger_checkbox {
  display: none;
  &:checked ~ .sidemenu {
    visibility: visible;
    animation-name: sidemenu_slideIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  &:checked:not(.hamburger_checkbox) {
    visibility: hidden;
    animation-name: submenu_slideOut;
    animation-duration: 0.3s;
  }
}
.sidemenu {
  display: none;
  @include mq-up(md) {
    display: block;
    position: absolute;
    top: 55px;
    visibility: hidden;
    animation-name: submenu_slideOut;
    animation-duration: 0.3s;
    background-color: white;
    width: 350px;
    height: 100vh;
    overflow: auto;
  }
  .sidemenu_seachBox_wrap {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #e9eaea;
    input.sidemenu_search {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      &::placeholder {
        padding-left: 10px;
        font-size: 16px;
      }
    }
    .sidemenu_search_icon {
      width: 20px;
      height: 20px;
      margin-left: 15px;
    }
  }
  .sidemenu_icon {
    height: 16px;
    width: 16px;
  }
  .sidemenu_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    height: 55px;
    border-bottom: solid 1px #e9eaea;
  }
  .sidemenu_list_child {
    display: none;
  }
  .sidemenu_list_checkBox {
    display: none;
  }
  #sidemenu_list_checkBox_men {
    &:checked ~ .sidemenu_list_child_men {
      display: block;
    }
  }
  #sidemenu_list_checkBox_women {
    &:checked ~ .sidemenu_list_child_women {
      display: block;
    }
  }
  #sidemenu_list_checkBox_cafe {
    &:checked ~ .sidemenu_list_child_cafe {
      display: block;
    }
  }
  #sidemenu_list_checkBox_musique {
    &:checked ~ .sidemenu_list_child_musique {
      display: block;
    }
  }
}
#sidemenu_list_checkBox_men_selection {
  &:checked ~ .sidemenu_list_grndchild_selection {
    display: block;
  }
}
// #sidemenu_list_checkBox_musique {
//   &:checked ~ .sidemenu_list_child_musique {
//     display: block;
//   }
// }
// #sidemenu_list_checkBox_musique {
//   &:checked ~ .sidemenu_list_child_musique {
//     display: block;
//   }
// }
// #sidemenu_list_checkBox_musique {
//   &:checked ~ .sidemenu_list_child_musique {
//     display: block;
//   }
// }
// #sidemenu_list_checkBox_musique {
//   &:checked ~ .sidemenu_list_child_musique {
//     display: block;
//   }
// }
// #sidemenu_list_checkBox_musique {
//   &:checked ~ .sidemenu_list_child_musique {
//     display: block;
//   }
// }
// #sidemenu_list_checkBox_musique {
//   &:checked ~ .sidemenu_list_child_musique {
//     display: block;
//   }
// }
// #sidemenu_list_checkBox_musique {
//   &:checked ~ .sidemenu_list_child_musique {
//     display: block;
//   }
// }
.hamburger {
  .hamburger_parts {
    background-color: black;
    height: 2px;
    width: 30px;
    + .hamburger_parts {
      margin-top: 5px;
    }
  }
}
.headerItems {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  @include mq-up(md) {
    flex: 1;
    justify-content: center;
  }
}
.logoWrapper {
  display: flex;
  align-items: center;
  .logo {
    height: 80px;
    width: 160px;
    object-fit: cover;
    @include mq-up(md) {
      height: 55px;
    }
  }
}
.navigation {
  flex-grow: 3;
  @include mq-up(md) {
    display: none;
  }
  .navigation_item_list {
    display: flex;
    width: 100%;
    height: 100%;
    .navigation_item {
      display: flex;
      font-size: clamp(12px, 1vw, 16px);
      height: 100%;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}
.navigation_item {
  border-style: solid;
  border-width: 0 1px;
  border-color: white;
  max-width: 100px;
  &:hover {
    border-color: #e9eaea;
    border-bottom-width: -1px;
    z-index: 10;
    > .navigation_item_submenu_wrap {
      visibility: visible;
      border-style: solid;
      border-top-width: 1px;
      border-color: #e9eaea;
      display: flex;
      animation-duration: 0.5s;
      animation-name: fadeIn_submenu;
    }
  }
}
@keyframes fadeIn_submenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.navigation_item_hover {
  text-decoration: none;
  color: black;
}
.navigation_item_submenu_wrap {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100vw;
  height: 350px;
  background-color: white;
  visibility: hidden;
  display: flex;
  .navigation_item_submenu {
    font-size: 100%;
    padding-left: 50px;
  }
}
.navigation_item_subitem {
  + .navigation_item_subitem {
    padding-top: 10px;
  }
  &:first-of-type {
    font-size: 150%;
    padding-bottom: 10px;
  }
}
.buttan {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  @include mq-up(md) {
    flex: 1;
  }
}
.buttan_wrapper {
  display: flex;
  .buttan_list {
    height: 80px;
    display: flex;
    align-items: center;
    @include mq-up(md) {
      height: 55px;
    }
  }
  .buttan_list-disabled {
    @include mq-up {
      display: none;
    }
  }
}
.buttan_list {
  + .buttan_list {
    margin-left: 12px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .buttan_cepalate {
    background-color: rgb(146, 139, 139);
    height: 30px;
    width: 1px;
  }
}
.main {
  padding-top: 87px;
  margin: 0 20px;
  @include mq-up(md) {
    padding-top: 56px;
  }
}
.mainvisual {
  position: relative;
  width: 100%;
  .mainvisual_img_wrap {
    width: 100%;
    position: relative;
    top: 0;
  }
}
.mainvisual_img_wrap {
  .mainvisual_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &:before {
    padding-top: 39.83333%;
    content: "";
    display: block;
  }
}
.mainvisual_label {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  .mainvisual_label-right {
    background-color: #e9eaea;
    padding: 10px 20px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    @include mq-up {
      padding: 5px 10px;
      font-size: 8px;
    }
  }
  .mainvisual_label-left {
    background-color: #e9eaea;
    padding: 10px 20px;
    position: absolute;
    bottom: 10%;
    right: 15%;
    @include mq-up {
      padding: 5px 10px;
      font-size: 8px;
    }
  }
}
.mainvisual_label_wrap-left {
  left: 0;
}
.mainvisual_label_wrap-right {
  right: 0;
}
.product {
  display: flex;
  padding: 50px 0;
  @include mq-up {
    flex-wrap: wrap;
    // display: none;
  }
  @include mq-up(sm) {
    flex-direction: column;
    align-items: center;
    padding: 40px 35px 0 35px;
    flex-wrap: nowrap;
  }
}
.product_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  @include mq-up {
    flex: 1 0 auto;
    height: 351px;
    width: 272px;
    padding-top: 10px;
  }
  @include mq-up(sm) {
    flex: 1;
    margin-bottom: 20px;
  }
  + .product_list {
    margin-left: 16px;
    @include mq-up {
      margin-left: 0;
    }
  }
  .product_img_wrap {
    position: relative;
    width: 100%;
    @include mq-up {
      height: 351px;
      width: 272px;
    }
    @include mq-up(sm) {
      height: auto;
      width: 100%;
    }
  }
  .product_tag {
    border-bottom: solid 3px black;
    padding-top: 10px;
  }
}
.product_img_wrap {
  .product_img {
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include mq-up {
      position: static;
    }
    @include mq-up(sm) {
      position: absolute;
    }
  }
  &:before {
    padding-top: 129.03225806%;
    content: "";
    display: block;
    @include mq-up {
      display: none;
    }
    @include mq-up(sm) {
      display: block;
    }
  }
}
.recommend {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 80px 0;
  @include mq-up {
    flex-direction: column;
  }
  .recommend_list2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq-up {
      padding-top: 10px;
    }
  }
}
.recommend_list {
  padding: 0 20px;
  flex: 1;
}
.recommend_list {
  .recommend_img_wrap {
    position: relative;
    width: 100%;
  }
  .recommend_list_header {
    border-bottom: solid 3px black;
    padding-top: 10px;
  }
}
.recommend_img_wrap {
  &:before {
    display: block;
    padding-top: 129.411765%;
    content: "";
  }
  .recommend_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.news {
  display: flex;
  margin: 0 20px;
  @include mq-up {
    flex-direction: column;
  }
}
.news_list {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  @include mq-up {
    padding: 0 0 20px 0;
  }
  & + .news_list {
    margin-left: 35px;
    @include mq-up {
      margin-left: 0;
    }
  }
  .news_list_heading {
    padding-bottom: 10px;
    font-size: 75%;
    white-space: nowrap;
    @include mq-up {
      font-size: 22px;
    }
  }
  .news_img_wrap {
    position: relative;
    width: 100%;
  }
  .news_list_bottom_tag {
    padding-top: 10px;
    border-bottom: solid 3px black;
    font-size: 14px;
  }
}
.news_img_wrap {
  .news_img {
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:before {
    padding-top: 100%;
    display: block;
    content: "";
  }
}

.service {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px 0;
  border-color: rgb(160, 146, 146);
  margin: 50px 0;
  height: 103px;
  .service_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 24px 0;
  }
  .service_list_center {
    border-style: solid;
    border-width: 0 1px;
    border-color: rgb(160, 146, 146);
  }
}
.service_list {
  .service_img {
    object-fit: cover;
    width: 80%;
    height: 80%;
  }
  .service_list_header {
    display: flex;
    justify-content: center;
    @include mq-up {
      font-size: 12px;
    }
  }
}
.shopContact {
  display: flex;
  width: 100%;
  margin: 70px 20px 40px 20px;
  @include mq-up {
    flex-direction: column;
  }
}
.login {
  font-size: 12px;
  padding-bottom: 10px;
  width: 50%;
  .login_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-bottom: 10px;
    // width: 50%;
    @include mq-up {
      flex-direction: column;
    }
  }
  .login_link_wrap {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    width: 250px;
    height: 40px;
    justify-content: center;
    transition-duration: 0.6s;
    align-items: center;
    &:hover {
      background-color: rgb(0, 0, 0);
      color: white;
    }
  }
}
.login_link_wrap:hover > .login_link {
  color: white;
}
.login_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding-left: 70px;
  color: black;
  &::after {
    content: url(yazi.jpeg);
    padding-left: 70px;
  }
}
.sns {
  width: 50%;
  @include mq-up {
    width: 100%;
  }
  .sns_list {
    display: flex;
    justify-content: space-between;
  }
  .sns_header {
    font-size: 12px;
    padding-bottom: 20px;
  }
}
.sns_list {
  .sns_icon_wrap {
    width: 100%;
    .sns_icon {
      height: 45px;
    }
  }
}
.footer {
  margin: 0 60px;
  font-size: 12px;
  @include mq-up {
    margin: 0;
  }
  .information_list_topLine {
    @include mq-up {
      border-style: solid;
      border-width: 1px 0;
      border-color: #dedede;
    }
  }
  .information {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    @include mq-up {
      flex-direction: column;
    }
  }
  .information_list {
    @include mq-up {
      border-bottom: solid 1px #dedede;
    }
    + .information_list {
      margin-left: 40px;
      @include mq-up {
        margin-left: 0;
      }
    }
    .information_list_item {
      white-space: nowrap;
      display: flex;
      align-items: center;
      width: 70%;
      height: 20px;
      @include mq-up {
        margin: 0;
        height: 45px;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
        margin-left: 20px;
        // &:after{
        //   content: url(yazi.jpeg);
        // }
      }
      &:first-child {
        border-bottom: solid 1px #dedede;
        padding-bottom: 5px;
        @include mq-up {
          padding: 0;
          border-width: 0;
        }
      }
    }
    .information_list_content {
      @include mq-up {
        display: none;
      }
    }
  }
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
