$breakpoint-down: (
  "xm": "(max-width: 744px)" "sm": "(max-width: 1024px)",
) !default;
@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}
html {
  width: 100%;
  max-width: 100%;
  min-width: 350px;
  font-size: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.body {
  width: 100%;
  margin: 0 auto;
  .header {
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(146, 139, 139);
    @include mq-up("sm") {
      height: 55px;
    }
    .bed {
      display: flex;
      align-items: center;
      height: 81px;
      @include mq-up("sm") {
        justify-content: space-between;
        height: 55px;
      }
      .tomate {
        @include mq-up("sm") {
          flex: 1;
          display: flex;
          align-items: center;
        }
        .hamburger {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 45px;
          display: none;
          @include mq-up("sm") {
            display: flex;
          }
          .pan {
            background-color: black;
            height: 2px;
            width: 30px;
          }
          .pan + .pan {
            margin-top: 5px;
          }
        }
      }
      .head {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        @include mq-up("sm") {
          flex: 1;
          justify-content: center;
        }
        .box {
          display: flex;
          align-items: center;
          .logo {
            height: 80px;
            width: 140px;
            object-fit: cover;
            @include mq-up("sm") {
              height: 55px;
            }
          }
        }
        .nav {
          display: flex;
          align-items: center;
          @include mq-up("sm") {
            display: none;
          }
          .navigation {
            display: flex;
            justify-content: space-around;
            width: 100%;
            .mokuzi {
              margin-left: 15px;
              flex-shrink: 0;
              font-size: clamp(12px, 1vw, 16px);
            }
          }
        }
      }
      .bon {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        .botan {
          display: flex;
          .ka {
            @include mq-up("xm") {
              display: none;
            }
          }
          .ta {
            height: 80px;
            display: flex;
            align-items: center;
            .icon {
              width: 20px;
              height: 20px;
            }
            .cepalate {
              background-color: rgb(146, 139, 139);
              height: 30px;
              width: 1px;
            }
          }
          .ta + .ta {
            margin-left: 12px;
          }
        }
      }
    }
  }
  .main {
    padding-top: 82px;
    margin: 0 20px;
    @include mq-up("sm") {
      padding-top: 56px;
    }
    .box1 {
      position: relative;
      width: 100%;
      .mind::before {
        padding-top: 39.83333%;
        content: "";
        display: block;
      }
      .mind {
        width: 100%;
        position: relative;
        .mainvisual {
          width: 100%;
          object-fit: cover;
          max-height: 700px;
          position: absolute;
          top: 0;

          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .label {
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        @include mq-up("xm") {
          .label1 {
            padding: 5px 10px;
            font-size: 8px;
          }
          .label2 {
            padding: 5px 10px;
            font-size: 8px;
          }
        }
        .label2 {
          background-color: #e9eaea;
          padding: 10px 20px;
          position: absolute;
          bottom: 10%;
          left: 15%;
        }
        .label1 {
          background-color: #e9eaea;
          padding: 10px 20px;
          position: absolute;
          bottom: 10%;
          right: 15%;
        }
      }
      .left {
        left: 0;
      }
      .right {
        right: 0;
      }
    }
    .itemlists {
      display: flex;
      padding: 50px 0;
      @include mq-up("xm") {
        display: flex;
        flex-direction: column;
        padding: 40px 35px 0 35px;
      }
      .tyou {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        @include mq-up("xm") {
          margin-bottom: 20px;
          height: 300px;
        }
        .mon {
          position: relative;
          width: 100%;
          .gotyuumonn {
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .mon::before {
          padding-top: 129.03225806%;
          content: "";
          display: block;
        }
        .tyuumon {
          border-style: solid;
          border-width: 0 0 3px 0;
          border-color: black;
          padding-top: 10px;
        }
      }
      .tyou + .tyou {
        margin-left: 16px;
        @include mq-up("xm") {
          margin-left: 0;
        }
      }
    }
    .collection {
      display: flex;
      justify-content: space-between;
      padding: 50px 0 80px 0;
      .text1 {
        flex: 1;
        @include mq-up("xm") {
          flex-direction: column;
        }
      }
      .text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        flex: 1;
        @include mq-up("xm") {
          padding-top: 10px;
        }
      }
      .text {
        padding: 0 20px;

        .whatch::before {
          display: block;
          padding-top: 129.411765%;
          content: "";
        }
        .whatch {
          position: relative;
          width: 100%;
          .collect {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .miru {
          border-style: solid;
          border-width: 0 0 3px 0;
          border-color: black;
          padding-top: 10px;
        }
      }
    }
    .news {
      display: flex;
      justify-content: space-around;
      @include mq-up("xm") {
        flex-direction: column;
      }
      .maison {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        align-items: center;
        @include mq-up("xm") {
          padding: 0 0 20px 0;
        }
        .heading {
          padding-bottom: 10px;
          font-size: 75%;
          @include mq-up("xm") {
            font-size: 22px;
          }
        }
        .pin::before {
          padding-top: 100%;
          display: block;
          content: "";
        }
        .pin {
          position: relative;
          width: 100%;
          .big {
            object-fit: cover;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .jyouhou {
          border-style: solid;
          border-width: 0 0 3px 0;
          border-color: black;
          padding-top: 10px;
          font-size: 14px;
        }
      }
      .maison1 {
        flex: 1;
        padding: 0 0 0 20px;
      }
      .maison2 {
        flex: 1;
        padding: 0 60px;
      }
      .maison3 {
        flex: 1;
        padding: 0 20px 0 0;
      }
    }
    .service {
      display: flex;
      justify-content: center;

      border-style: solid;
      border-width: 1px 0;
      border-color: rgb(160, 146, 146);
      margin: 50px 0;
      height: 103px;
      .hennpinn {
        display: flex;
        flex-direction: column;

        align-items: center;
        padding: 0 20px;
        margin: 24px 0;
        .server {
          object-fit: cover;
          width: 80%;
          height: 80%;
        }
        .siharai {
          display: flex;
          justify-content: center;
          @include mq-up("xm") {
            font-size: 12px;
          }
        }
      }
      .hennpinn2 {
        border-style: solid;
        border-width: 0 1px;
        border-color: rgb(160, 146, 146);
      }
    }
    .follow {
      display: flex;
      width: 100%;
      margin: 70px 20px 40px 20px;
      @include mq-up("xm") {
        flex-direction: column;
      }
      .touroku {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        width: 50%;
        @include mq-up("xm") {
          flex-direction: column;
        }
        .letter {
          font-size: 12px;
          padding-bottom: 10px;
        }
        .hover {
          display: flex;
          border-style: solid;
          border-width: 1px;
          border-color: #dedede;
          width: 250px;
          justify-content: center;
          .suru {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 250px;
            height: 40px;

            text-decoration: none;
            transition-duration: 0.6s;
            font-size: 14px;
            text-align: center;
            padding-left: 70px;
          }
          .suru:hover {
            background-color: rgb(0, 0, 0);
            color: white;
            border-style: solid;
            border-width: 1px;
            display: flex;
          }
          .suru::after {
            content: url(yazi.jpeg);
            padding-left: 70px;
          }
        }
      }
      .bun {
        width: 50%;
        @include mq-up("xm") {
          width: 100%;
        }
        .SNS {
          display: flex;
          justify-content: space-between;
          /* justify-content: flex-start; */
          .mark {
            width: 100%;
            .apple {
              height: 45px;
            }
          }
        }
        .kitsune {
          font-size: 12px;
          padding-bottom: 20px;
        }
      }
    }
  }
  .footer {
    margin: 0 130px;
    .sita {
      display: flex;
      justify-content: center;
      margin: 60px 0;
      @include mq-up("xm") {
        flex-direction: column;
      }
      .list + .list {
        margin-left: 40px;
        @include mq-up("xm") {
          margin-left: 0;
        }
      }
      .list {
        .name:first-child {
          border-style: solid;
          border-color: pink;
          border-width: 0 0 1px 0;
          padding-bottom: 5px;
          @include mq-up("xm") {
            flex-direction: column;
          }
        }
        .name {
          margin-top: 10px;
        }
      }
    }
    .small {
      display: flex;
      justify-content: center;
      font-size: 12pxs;
    }
  }


.header {
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(146, 139, 139);
    @include mq-up("sm") {
    height: 55px;
    }
}
.bed {
    display: flex;
    align-items: center;
    height: 81px;
    @include mq-up("sm") {
      justify-content: space-between;
      height: 55px;
    }
}
.tomate {
    @include mq-up("sm") {
    flex: 1;
    display: flex;
    align-items: center;
    }
    .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    display: none;
    @include mq-up("sm") {
        display: flex;
    }
    .pan {
        background-color: black;
        height: 2px;
        width: 30px;
        +.pan {
            margin-top: 5px;
    }
    }
}
.head {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    @include mq-up("sm") {
      flex: 1;
      justify-content: center;
    }
}
.box {
    display: flex;
    align-items: center;
    .logo {
      height: 80px;
      width: 140px;
      object-fit: cover;
      @include mq-up("sm") {
        height: 55px;
      }
    }
}
.nav {
    display: flex;
    align-items: center;
    @include mq-up("sm") {
      display: none;
    }
    .navigation {
      display: flex;
      justify-content: space-around;
      width: 100%;
      .mokuzi {
        margin-left: 15px;
        flex-shrink: 0;
        font-size: clamp(12px, 1vw, 16px);
      }
    }
}
.bon {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.botan {
    display: flex;
    .ka {
      @include mq-up("xm") {
        display: none;
      }
    }
.ta {
        height: 80px;
        display: flex;
        align-items: center;
        +.ta{
            margin-left: 12px;
        }
        .icon {
          width: 20px;
          height: 20px;
        }
        .cepalate {
          background-color: rgb(146, 139, 139);
          height: 30px;
          width: 1px;
        }
 }
 .main {
    padding-top: 82px;
    margin: 0 20px;
    @include mq-up("sm") {
      padding-top: 56px;
    }   
.box1 {
    position: relative;
    width: 100%;
    .mind {
        width: 100%;
        position: relative;
.mind {
    .mainvisual {
    width: 100%;
    object-fit: cover;
    max-height: 700px;
    position: absolute;
    }
    top: 0;
    &:before {
        padding-top: 39.83333%;
        content: "";
        display: block;
    }
}
.label {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    .label2 {
        background-color: #e9eaea;
        padding: 10px 20px;
        position: absolute;
        bottom: 10%;
        left: 15%;
        @include mq-up("xm") {
              padding: 5px 10px;
              font-size: 8px;
            }
       }
      .label1 {
        background-color: #e9eaea;
        padding: 10px 20px;
        position: absolute;
        bottom: 10%;
        right: 15%;
        @include mq-up("xm") {
              padding: 5px 10px;
              font-size: 8px;
            }
      }
.left {
left: 0;
}
.right {
right: 0;
}
.itemlists {
    display: flex;
    padding: 50px 0;
    @include mq-up("xm") {
      display: flex;
      flex-direction: column;
      padding: 40px 35px 0 35px;
    }
.tyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    @include mq-up("xm") {
        margin-bottom: 20px;
        height: 300px;
    }
    +.tyou{
        margin-left: 16px;
        @include mq-up("xm") {
          margin-left: 0;
        }
    }
    .mon {
        position: relative;
        width: 100%;
    }
    .tyuumon {
        border-style: solid;
        border-width: 0 0 3px 0;
        border-color: black;
        padding-top: 10px;
    }
}
.mon {
    .gotyuumonn {
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before{
        padding-top: 129.03225806%;
        content: "";
        display: block;
        }
}
.collection {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 80px 0;
}
.text1 {
flex: 1;
@include mq-up("xm") {
    flex-direction: column;
}
}
.text2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 10px;
flex: 1;
@include mq-up("xm") {
    padding-top: 10px;
}
}
.text {
    padding: 0 20px;
    .whatch {
      position: relative;
      width: 100%;
    }
    .miru {
      border-style: solid;
      border-width: 0 0 3px 0;
      border-color: black;
      padding-top: 10px;
    }
}
.whatch{
&:before {
    display: block;
    padding-top: 129.411765%;
    content: "";
    }
    .collect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.news {
    display: flex;
    @include mq-up("xm") {
      flex-direction: column;
    }
}
.maison {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
    @include mq-up("xm") {
      padding: 0 0 20px 0;
    }
    .heading {
      padding-bottom: 10px;
      font-size: 75%;
      @include mq-up("xm") {
        font-size: 22px;
      }
    }
    .pin {
      position: relative;
      width: 100%;
    }
    .jyouhou {
      border-style: solid;
      border-width: 0 0 3px 0;
      border-color: black;
      padding-top: 10px;
      font-size: 14px;
    }
  }
.pin{
    .big {
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    &:before {
        padding-top: 100%;
        display: block;
        content: "";
        }
}
.maison1 {
    flex: 1;
    padding: 0 0 0 20px;
  }
.maison2 {
    flex: 1;
    padding: 0 60px;
  }
.maison3 {
    flex: 1;
    padding: 0 20px 0 0;
  }
.service {
    display: flex;
    justify-content: center;

    border-style: solid;
    border-width: 1px 0;
    border-color: rgb(160, 146, 146);
    margin: 50px 0;
    height: 103px;
    .hennpinn {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
      margin: 24px 0;
    }
    .hennpinn2 {
      border-style: solid;
      border-width: 0 1px;
      border-color: rgb(160, 146, 146);
    }
  }
.hennpinn {
    .server {
      object-fit: cover;
      width: 80%;
      height: 80%;
    }
    .siharai {
      display: flex;
      justify-content: center;
      @include mq-up("xm") {
        font-size: 12px;
      }
    }
}
.follow {
    display: flex;
    width: 100%;
    margin: 70px 20px 40px 20px;
    @include mq-up("xm") {
      flex-direction: column;
    }
}
.touroku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 50%;
    @include mq-up("xm") {
      flex-direction: column;
    }
    .letter {
      font-size: 12px;
      padding-bottom: 10px;
    }
    .hover {
      display: flex;
      border-style: solid;
      border-width: 1px;
      border-color: #dedede;
      width: 250px;
      justify-content: center;
    }
}
.suru {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 40px;

    text-decoration: none;
    transition-duration: 0.6s;
    font-size: 14px;
    text-align: center;
    padding-left: 70px;
      &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
        border-style: solid;
        border-width: 1px;
        display: flex;
      }
      &::after {
        content: url(yazi.jpeg);
        padding-left: 70px;
      }
}
.bun {
    width: 50%;
    @include mq-up("xm") {
      width: 100%;
    }
    .SNS {
      display: flex;
      justify-content: space-between;
    }
    .kitsune {
      font-size: 12px;
      padding-bottom: 20px;
    }
}
.SNS {
    .mark {
      width: 100%;
      .apple {
        height: 45px;
      }
    }
  }
  .footer {
    margin: 0 130px;
    .sita {
      display: flex;
      justify-content: center;
      margin: 60px 0;
      @include mq-up("xm") {
        flex-direction: column;
      }
    .small {
      display: flex;
      justify-content: center;
      font-size: 12pxs;
    }
  }
  .list {
    +.list {
        margin-left: 40px;
        @include mq-up("xm") {
          margin-left: 0;
        }
      }
    .name {
      margin-top: 10px;
    }
  }
}
.name{
    &:first-child {
        border-style: solid;
        border-color: pink;
        border-width: 0 0 1px 0;
        padding-bottom: 5px;
        @include mq-up("xm") {
          flex-direction: column;
        }
}